* {
  margin: 0;
  padding: 0;
}
/* body{
    overflow: hidden;
} */
html {
  scroll-behavior: smooth;
  font-size: 16px;
}
.card > * {
  animation: an ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
@keyframes an {
  0% {
    opacity: 0;
    scale: 0.8;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    scale: 1;
    transform: translateX(00);
  }
}
/*-------------------------------------*/
.card {
  min-height: 100vh;
  /* position: sticky;
    top: 0; */
}
nav {
  position: sticky;
  top: 0;
  line-height: 1.5;
  z-index: 1000;
  background-color: var(--bg-color);
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;

}
nav > span:first-child{  
  font-size: 1.5rem;
  font-family: var(--main-font-family);
  color: var(--main-text-color);
  padding: 10px;
}
nav ul {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  
}
nav li {
  padding: 10px;
  cursor: pointer;
  display: inline-block;
  width: 100%;
}
nav li a {
  padding: 10px;
  text-decoration: none;
  font-size: 1rem;
  color: var(--main-text-color);
  font-family: var(--main-font-family);
  transition: all 0.3s ease;
  display: block;
  width: 100%;
}

li:hover a{
  color: var(--on-hover-text-color);
  font-size: 1.1rem;
}

.footer{
  width: 100%;
  min-height: 50vh;
  background-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.footer  * {
  color: white;
}
.footer p{
  font-size: 1rem;
  font-family:cursive, sans-serif, monospace;
  margin-top: 10px;
}
.social .wrapper {
  flex-direction: row;
  position: static;
}

@media (max-width: 1200px) {
  html {
      font-size: 15px;
  }
}

@media (max-width: 900px) {
  html {
      font-size: 11px;
  }
  .card, .footer {
    min-height: fit-content;
    box-sizing: border-box;
    width: 100%;
    padding: 50px 0;
  }
}

@media (max-width: 600px) {
  html {
      font-size: 9px;
  }
}

